@media screen and (min-width: 76.25em) {
  [data-md-toggle="search"]:checked ~ .md-header .md-search__inner {
    width: 32.4rem;
  }

  .md-search__scrollwrap {
    width: 32.4rem;
  }
}

[data-md-toggle="search"]:checked ~ .md-header .md-header-nav__extra {
  display: none;
}

*:hover {
	scrollbar-color: var(--md-text-link-color) transparent !important;
}

html .md-footer-meta.md-typeset a:focus, html .md-footer-meta.md-typeset a:hover {
  color: var(--md-default-fg-color);
}

html .md-typeset .tabbed-set > label:hover {
  color: var(--md-typeset-a-color--action);
}

p {
  text-align: justify;
}

small {
  color: var(--md-footer-fg-color--lighter);
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 75% !important;
}

.md-content {
  padding: 0 5%;
}

.md-footer {
  border-top: 1px solid var(--md-default-bg-color--lightest);
}

.md-footer-copyright {
  opacity: 0.75;
}

.md-footer-meta {
  padding-top: 15px;
}

.md-grid {
  max-width: 100%;
}

.md-header {
  letter-spacing: 1px;
}

.md-header-nav__button.md-logo {
  width: 11.3rem;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
  margin: auto;
  width: 6rem;
}

.md-header-nav__title {
  margin-left: 0.4rem;
}

.md-main__inner {
  margin-top: 0;
}

.md-nav--primary .md-nav__item .md-nav__link--active {
  margin-left: -3px;
}

.md-nav__item {
  padding-bottom: 0.16rem !important;
  padding-top: 0.16rem !important;
}

.md-nav__item .md-nav__item {
  padding-left: 0.8rem;
}

.md-nav__item .md-nav__item--nested .md-nav__list {
  border-left: 1px solid var(--md-default-fg-color--dark);
}

.md-nav__item--highlight {
  background-color: var(--md-default-bg-color--dark);
  border-left: 3px solid var(--md-default-fg-color--dark);
}

.md-nav__link {
  margin: 0.16rem 0;
}

.md-nav__link:focus, .md-nav__link:hover {
  color: var(--md-typeset-a-color--action)
}

.md-nav__link--active:focus, .md-nav__link--active:hover {
  color: var(--md-typeset-a-color);
}

.md-nav__source {
  background-color: var(--md-primary-fg-color);
}

.md-nav__title {
  padding-top: 0.48rem;
  padding-bottom: 0.32rem;
}

.md-nav__title .md-nav__button.md-logo img, .md-nav__title .md-nav__button.md-logo svg {
  width: 6rem;
}

.md-sidebar {
  background-color: var(--md-sidebar-bg-color);
}

.md-tabs {
  letter-spacing: 1px;
  text-align: center;
}

.md-tabs__item:hover {
  border-bottom: 3px solid var(--md-default-bg-color--light);
}

.md-tabs__item--highlight {
  border-bottom: 3px solid var(--md-default-bg-color);
}

.md-tabs__link {
  font-size: 0.8rem;
}

.md-tabs__list {
  margin: 0;
}

.md-typeset a:focus, .md-typeset a:hover {
  color: var(--md-typeset-a-color--action)
}

.md-typeset blockquote {
  border-left: none;
  color: var(--md-default-fg-color--lighter);
  padding-left: 0;
}

.md-typeset code {
  padding: 1px 8px;
}

.md-typeset h1 {
  margin: 0.8rem 0 -1.2rem 0;
}

.md-typeset h1, h2, h3, h4, h5, h6 {
  font-family: 'Geomanist Book';
  font-weight: 500 !important;
}

.md-typeset table:not([class]) {
  display: table;
}

.md-typeset table:not([class]) th {
  background-color: var(--md-table-bg-color);
  color: var(--md-table-fg-color);
  font-weight: bold;
}

.md-typeset .admonition > .admonition-title {
  background-color: var(--md-admonition-bg-color);
}

.md-typeset .admonition-title, .md-typeset summary {
  background-color: var(--md-admonition-bg-color);
}

.md-typeset .tabbed-set > input:checked + label  {
  background-color: var(--md-default-bg-color--dark);
  border-bottom: 4px solid var(--md-default-fg-color--dark);
  color: var(--md-typeset-a-color);
}

.md-typeset .tabbed-set > label {
  border-bottom: 1px solid var(--md-default-fg-color--dark);
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.3;
  padding: 0.32rem 0.8rem;
}

.md-typeset > .codehilite, .md-typeset > .highlight {
  margin: 0;
}

.md-typeset__table {
  display: block;
}
