[data-md-color-scheme="default"] {
  --md-load-image: url('/assets/images/load-default.gif');
}

[data-md-color-scheme="slate"] {
  --md-load-image: url('/assets/images/load-slate.gif');
}

.md-load {
  background: var(--md-load-image) 50% 50% no-repeat var(--md-default-bg-color);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 4.8rem;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 76.25em) {
  .md-load {
    top: 48px;
  }
}
