@media screen and (max-width: 60em) {
  #PapercupsChatWidget {
    display: none;
  }
}

#PapercupsChatWidget {
  z-index: 0 !important;
}

.Papercups-chatWindowContainer {
  bottom: 105px !important;
  height: calc(100% - 270px) !important;
  right: calc(6.05rem - 25px) !important;
}

.Papercups-toggleButtonContainer {
  bottom: 45px !important;
  right: calc(6.05rem - 25px) !important;
}
