@media screen and (max-width: 60em) {
  #PapercupsChatWidget {
    display: none;
  }
}

.Papercups-chatWindowContainer {
  bottom: 135px !important;
  height: calc(100% - 270px) !important;
  right: calc(6.05rem - 25px) !important;
}

.Papercups-toggleButtonContainer {
  bottom: 75px !important;
  right: calc(6.05rem - 25px) !important;
}
