{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>
    [data-md-color-scheme="default"] {
      --md-wave-image: url('/assets/images/wave-default.svg');
    }

    [data-md-color-scheme="slate"] {
      --md-wave-image: url('/assets/images/wave-slate.svg');
    }

    body::after{
      content: url('/assets/images/wave-default.svg') url('/assets/images/wave-slate.svg');
      height: 0;
      position: absolute;
      overflow: hidden;
      width: 0;
      z-index: -1;
    }

    .md-header-nav__title {
      opacity: 0;
    }

    .md-load {
      background: var(--md-load-image) 50% 50% no-repeat var(--md-default-bg-color);
      bottom: 0;
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 999;
    }

    .tx-container {
      background: var(--md-wave-image) no-repeat bottom, linear-gradient(var(--md-primary-fg-color), var(--md-accent-fg-color));
      background-position-y: 101%
    }

    .tx-hero {
      color: var(--md-primary-bg-color);
      margin: .8rem;
      padding: 0 5%;
    }

    .tx-hero h1 {
      color: currentColor;
      margin-bottom: 1rem;
    }

    .tx-hero .md-button {
      margin-top: .5rem;
      margin-right: .5rem;
      color: var(--md-primary-bg-color);
    }

    .tx-hero .md-button:focus, .tx-hero .md-button:hover {
      background-color: var(--md-accent-fg-color);
      border-color: var(--md-accent-fg-color);
      color: var(--md-default-bg-color);
    }

    .tx-hero .md-button--primary {
      background-color: var(--md-primary-bg-color);
      border-color: var(--md-primary-bg-color);
      color: var(--md-primary-fg-color);
    }

    .tx-hero__content {
      padding-bottom: 9rem;
    }

    .tx-hero__image {
      margin: 1rem;
    }

    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }

      .tx-hero {
        align-items: stretch;
        display: flex;
        justify-content: center;
      }

      .tx-hero__content {
        margin-top: 5rem;
        max-width: 20rem;
      }

      .tx-hero__image {
        order: 1;
        transform: translateX(2rem);
      }
    }

    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }

      .tx-hero {
        margin: inherit 9rem;
      }

      .tx-hero__image {
        order: 1;
        transform: translateX(4rem);
      }
    }
  </style>

  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img
            draggable="false"
            width="720"
            src="/assets/images/inaccel-cloud.svg"
          >
        </div>
        <div class="tx-hero__content">
          <h1>FPGA Operations:<br><span id="typed"></span> it.</h1>
          <p>{{ config.site_description }}. Set up in 5 minutes.</p>
          <a
            class="md-button md-button--primary"
            href="{{ page.next_page.url | url }}"
            title="{{ page.next_page.title | striptags }}"
          >
            Get started
          </a>
          <a
            class="md-button"
            href="{{ config.repo_url }}"
            target="_blank"
            title="{{ lang.t('source.link.title') }}"
          >
            Go to GitHub
          </a>
          </script>
        </div>
      </div>
    </div>
  </section>

  <script>
    function fpga_operations() {
      var typed = new Typed('#typed', {
        backDelay: 1000,
        backSpeed: 50,
        loop: true,
        startDelay: 100,
        strings: ['Debug', 'Integrate', 'Deploy', 'Monitor', 'Scale', 'Maintain'],
        typeSpeed: 100
      });
    }

    if (window['Typed']) {
      fpga_operations();
    } else {
      window.addEventListener('load', fpga_operations);
    }
  </script>
{% endblock %}

{% block content %}
  <style>
    .col-xs-3 {
      background-color: var(--md-sidebar-bg-color);
      border: 1px solid var(--md-default-bg-color--lightest);
      box-shadow: 1px 1px 2px 0 var(--md-default-fg-color--lightest);
      margin: 1rem;
    }

    .col-xs-3:focus, .col-xs-3:hover {
      transform: scale(1.01);
    }

    .col-xs-3 h2 {
      margin: 1rem 1rem 0.1rem 1rem;
    }

    .col-xs-3 p {
      margin: 0.1rem 1rem 1rem 1rem;
    }

    .col-xs-3 svg {
      margin-top: 1.5rem;
      max-height: 64px;
      max-width: 128px;
    }

    .col-xs-3 svg path {
      fill: var(--md-typeset-a-color);
    }

    .md-content {
      max-width: 100%;
    }

    .md-typeset a {
      color: var(--md-default-fg-color);
      transition: none;
    }

    .md-typeset a:focus, .md-typeset a:hover {
      color: var(--md-default-fg-color--light);
    }

    @media screen and (max-width: 76.25em) {
      .col-xs-3 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  </style>

  <div class="row around-xs">
    <a class="col-xs-3" href="/get-started/">
      {% include "assets/images/card1.svg" %}
      <h2 class="title">Get started</h2>
      <p>Learn InAccel basics and the benefits of abstracting your FPGA applications.</p>
    </a>
    <a class="col-xs-3" href="/install/linux/">
      {% include "assets/images/card2.svg" %}
      <h2 class="title">Download and install</h2>
      <p>Download and install InAccel on your machines in a few easy steps.</p>
    </a>
    <a class="col-xs-3" href="/develop/">
      {% include "assets/images/card3.svg" %}
      <h2 class="title">Guides</h2>
      <p>Learn how to setup your InAccel environment and start abstracting your FPGA applications.</p>
    </a>
  </div>
  <div class="row around-xs">
    <a class="col-xs-3" href="/project/keras/">
      {% include "assets/images/card4.svg" %}
      <h2 class="title">Open-source projects</h2>
      <p>Learn how to accelerate applications using InAccel.</p>
    </a>
    <a class="col-xs-3" href="/labs/bitstream-repository/">
      {% include "assets/images/card5.svg" %}
      <h2 class="title">Tutorial labs</h2>
      <p>Browse through the tutorials and learn how to use InAccel products.</p>
    </a>
    <a class="col-xs-3" href="/reference/inaccel/">
      {% include "assets/images/card6.svg" %}
      <h2 class="title">Reference</h2>
      <p>Browse through the CLI and API reference documentation.</p>
    </a>
  </div>
{% endblock %}
